---
version: '3'
services:
  mongo:
    image: percona/percona-server-mongodb:${TEST_PSMDB_VERSION:-latest}
    command: --replSet=${TEST_PSMDB_RSNAME:-rs} --bind_ip=0.0.0.0 --bind_ip_all
    expose:
    - "27017"
  init:
    image: percona/percona-server-mongodb:${TEST_PSMDB_VERSION:-latest}
    entrypoint: /init-replset.sh
    volumes:
    - ./test/init-replset.sh:/init-replset.sh
    environment:
    - TEST_MONGODB_URI=mongo:27017
    - TEST_PSMDB_RSNAME=${TEST_PSMDB_RSNAME:-rs}
    links:
    - mongo
    depends_on:
    - mongo
  test:
    build:
      dockerfile: Dockerfile.test
      context: .
      args:
      - GOLANG_DOCKERHUB_TAG=${GOLANG_DOCKERHUB_TAG:-1.10-stretch}
    environment:
    - TEST_MONGODB_URI=mongo:27017
    - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
    - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
    links:
    - mongo
    depends_on:
    - init
    - mongo
