---
version: '3'
services:
  mongo1:
    network_mode: host
    image: percona/percona-server-mongodb:${TEST_PSMDB_VERSION:-latest}
    command: --replSet=${TEST_PSMDB_RSNAME:-rs} --port=${TEST_MONGODB_PRIMARY_PORT:-17001} --shardsvr
    volumes:
    - ./scripts/entrypoint-mongod.sh:/entrypoint.sh:ro
    - ./scripts/mongod.key:/mongod.key:ro
    - ./scripts/ssl/rootCA.crt:/rootCA.crt:ro
    - ./scripts/ssl/mongodb.pem:/mongod.pem:ro
  mongo2:
    network_mode: host
    image: percona/percona-server-mongodb:${TEST_PSMDB_VERSION:-latest}
    command: --replSet=${TEST_PSMDB_RSNAME:-rs} --port=${TEST_MONGODB_SECONDARY1_PORT:-17002} --shardsvr
    volumes:
    - ./scripts/entrypoint-mongod.sh:/entrypoint.sh:ro
    - ./scripts/mongod.key:/mongod.key:ro
    - ./scripts/ssl/rootCA.crt:/rootCA.crt:ro
    - ./scripts/ssl/mongodb.pem:/mongod.pem:ro
  mongo3:
    network_mode: host
    image: percona/percona-server-mongodb:${TEST_PSMDB_VERSION:-latest}
    command: --replSet=${TEST_PSMDB_RSNAME:-rs} --port=${TEST_MONGODB_SECONDARY2_PORT:-17003} --shardsvr
    volumes:
    - ./scripts/entrypoint-mongod.sh:/entrypoint.sh:ro
    - ./scripts/mongod.key:/mongod.key:ro
    - ./scripts/ssl/rootCA.crt:/rootCA.crt:ro
    - ./scripts/ssl/mongodb.pem:/mongod.pem:ro
  configsvr:
    network_mode: host
    image: percona/percona-server-mongodb:${TEST_PSMDB_VERSION:-latest}
    command: --replSet=${TEST_MONGODB_CONFIGSVR_RS:-csReplSet} --port=${TEST_MONGODB_CONFIGSVR1_PORT:-17004} --configsvr
    volumes:
    - ./scripts/entrypoint-mongod.sh:/entrypoint.sh:ro
    - ./scripts/mongod.key:/mongod.key:ro
    - ./scripts/ssl/rootCA.crt:/rootCA.crt:ro
    - ./scripts/ssl/mongodb.pem:/mongod.pem:ro
  mongos:
    network_mode: host
    image: percona/percona-server-mongodb:${TEST_PSMDB_VERSION:-latest}
    command: --port=${TEST_MONGODB_MONGOS_PORT:-17005} --configdb=${TEST_MONGODB_CONFIGSVR_RS:-csReplSet}/127.0.0.1:${TEST_MONGODB_CONFIGSVR1_PORT:-17004} 
    volumes:
    - ./scripts/entrypoint-mongos.sh:/entrypoint.sh:ro
    - ./scripts/mongod.key:/mongos.key:ro
    - ./scripts/ssl/rootCA.crt:/rootCA.crt:ro
    - ./scripts/ssl/mongodb.pem:/mongos.pem:ro
    depends_on:
    - configsvr
  init:
    network_mode: host
    image: percona/percona-server-mongodb:${TEST_PSMDB_VERSION:-latest}
    entrypoint: /init-cluster.sh
    volumes:
    - ./scripts/init-cluster.sh:/init-cluster.sh:ro
    - ./scripts/mongod.key:/mongod.key:ro
    - ./scripts/ssl/rootCA.crt:/rootCA.crt:ro
    - ./scripts/ssl/client.pem:/client.pem:ro
    env_file:
    - .env
    depends_on:
    - configsvr
    - mongos
    - mongo1
    - mongo2
    - mongo3
  test:
    build:
      dockerfile: Dockerfile.test
      context: docker
      args:
      - GOLANG_DOCKERHUB_TAG=${GOLANG_DOCKERHUB_TAG:-1.10-stretch}
    network_mode: host
    env_file:
    - .env
    volumes:
    - ./test-out:/tmp/out
    - ./scripts/ssl/rootCA.crt:/rootCA.crt:ro
    - ./scripts/ssl/client.pem:/client.pem:ro
    depends_on:
    - configsvr
    - mongo1
    - mongo2
    - mongo3
    - init
