[Unit]
Description=pbm-coordinator
After=time-sync.target network.target

[Service]
Type=simple
User=pbm
Group=pbm
PermissionsStartOnly=true
ExecStart=/usr/bin/pbm-coordinator --config-file=/etc/pbm-coordinator.conf

[Install]
WantedBy=multi-user.target
