version: "3.4"
services:
  tests:
    build:
      dockerfile: ./e2e-tests/Dockerfile
      context: ../..
      args:
        - TESTS_BCP_TYPE=${TESTS_BCP_TYPE}
    command: pbm-test
    environment:
      - BACKUP_USER=bcp
      - MONGO_PASS=test1234
      - TESTS_TYPE=rs
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./conf:/etc/pbm
      - ./backups:/opt/backups

  rs101:
    build:
      dockerfile: ./e2e-tests/docker/mongodb-rs/Dockerfile
      context: ../..
      args:
        - MONGODB_VERSION=${MONGODB_VERSION:-4.2}
        - MONGODB_IMAGE=${MONGODB_IMAGE:-percona/percona-server-mongodb}
    hostname: rs101
    labels:
      - "com.percona.pbm.app=mongod"
    environment:
      - REPLSET_NAME=rs1
      - MONGO_USER=dba
      - BACKUP_USER=bcp
      - MONGO_PASS=test1234
      - SINGLE_NODE=true
      - MONGODB_VERSION=${MONGODB_VERSION:-4.2}
    command: mongod --replSet rs1 --port 27017 --storageEngine wiredTiger --keyFile /opt/keyFile --wiredTigerCacheSizeGB 1
    volumes:
      - data-rs101:/data/db
      - ./scripts/start.sh:/opt/start.sh

  agent-rs101:
    container_name: "pbmagent_rs101"
    user: "1001"
    labels:
      - "com.percona.pbm.app=agent"
      - "com.percona.pbm.agent.rs=rs1"
    environment:
      - "PBM_MONGODB_URI=mongodb://${BACKUP_USER:-bcp}:${MONGO_PASS:-test1234}@rs101:27017"
    build:
      labels:
        - "com.percona.pbm.app=agent"
      dockerfile: ./e2e-tests/docker/pbm-agent/Dockerfile
      context: ../..
      args:
        - MONGODB_VERSION=${MONGODB_VERSION:-4.2}
        - MONGODB_IMAGE=${MONGODB_IMAGE:-percona/percona-server-mongodb}
    volumes:
      - ./conf:/etc/pbm
      - ./backups:/opt/backups
      - data-rs101:/data/db
    command: pbm-agent
    cap_add:
      - NET_ADMIN

  minio:
      extends:
          file: docker-compose-common.yaml
          service: minio

  create-minio-bucket:
      extends:
          file: docker-compose-common.yaml
          service: create-minio-bucket

  lighttpd:
      extends:
          file: docker-compose-common.yaml
          service: lighttpd

volumes:
  backups: null
  data-rs101: null
