name: reviewdog
on: [pull_request]
jobs:
  shellcheck:
    name: runner / shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: spellcheck
        uses: reviewdog/action-shellcheck@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          exclude: |
            */.git/*
            ./.cache/*
            ./vendor/*
            ./packaging/scripts/*

  misspell:
    name: runner / misspell
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: misspell
        uses: reviewdog/action-misspell@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          locale: "US"
          exclude: |
            */.git/*
            ./.cache/*
            ./vendor/*

  alex:
    name: runner / alex
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: alex
        uses: reviewdog/action-alex@v1
        with:
          github_token: ${{ secrets.github_token }}

  golangci-lint:
    name: runner / golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v2
        with:
          reporter: github-pr-check

  gofmt:
    name: runner / gofmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: gofmt -w -s $(find . -not -path "*/vendor/*" -name "*.go")
      - uses: reviewdog/action-suggester@v1
        with:
          tool_name: gofmt

  shfmt:
    name: runner / shfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.17'
      - run: go install mvdan.cc/sh/v3/cmd/shfmt@latest
      - run: shfmt -f . | grep -v 'vendor' | xargs shfmt -w -s
      - name: suggester / shfmt
        uses: reviewdog/action-suggester@v1
        with:
          tool_name: shfmt
